.AttrProvider__container {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.RadioSetting__label,
.RadioSetting__text {
    margin-top: 0;
}

.AttrProvider__details {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 16px;
    border: 1px solid rgba(var(--center-channel-color-rgb), 0.08);
    border-radius: 4px;

    > h5 {
        margin: 0;
        font-weight: 600;
    }

    > p {
        margin: 0;
    }
}
